<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.train.dao.mapper.UserCompanyMapper" >
  <resultMap id="BaseResultMap" type="com.train.domain.entity.UserCompany" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nick_Name" property="nickName" jdbcType="VARCHAR" />
    <result column="portrait" property="portrait" jdbcType="VARCHAR" />
    <result column="scale" property="scale" jdbcType="VARCHAR" />
    <result column="establishment_time" property="establishmentTime" jdbcType="TIMESTAMP" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="lon" property="lon" jdbcType="DECIMAL" />
    <result column="lat" property="lat" jdbcType="DECIMAL" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="introduction_portrait_ids" property="introductionPortraitIds" jdbcType="VARCHAR" />
    <result column="contact_peple" property="contactPeple" jdbcType="VARCHAR" />
    <result column="contact_info" property="contactInfo" jdbcType="VARCHAR" />
    <result column="certificate" property="certificate" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="DATE" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="DATE" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, nick_Name, portrait, scale, establishment_time, position, lon, lat, introduction, 
    introduction_portrait_ids, contact_peple, contact_info, certificate, create_time, 
    create_by, update_time, update_by
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.train.domain.entity.UserCompanyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.train.domain.entity.UserCompanyExample" >
    delete from user_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.train.domain.entity.UserCompany" >
    insert into user_company (id, nick_Name, portrait, 
      scale, establishment_time, position, 
      lon, lat, introduction, 
      introduction_portrait_ids, contact_peple, 
      contact_info, certificate, create_time, 
      create_by, update_time, update_by
      )
    values (#{id,jdbcType=INTEGER}, #{nickName,jdbcType=VARCHAR}, #{portrait,jdbcType=VARCHAR}, 
      #{scale,jdbcType=VARCHAR}, #{establishmentTime,jdbcType=TIMESTAMP}, #{position,jdbcType=VARCHAR}, 
      #{lon,jdbcType=DECIMAL}, #{lat,jdbcType=DECIMAL}, #{introduction,jdbcType=VARCHAR}, 
      #{introductionPortraitIds,jdbcType=VARCHAR}, #{contactPeple,jdbcType=VARCHAR}, 
      #{contactInfo,jdbcType=VARCHAR}, #{certificate,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=DATE}, #{updateBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.train.domain.entity.UserCompany" >
    insert into user_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nickName != null" >
        nick_Name,
      </if>
      <if test="portrait != null" >
        portrait,
      </if>
      <if test="scale != null" >
        scale,
      </if>
      <if test="establishmentTime != null" >
        establishment_time,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="lon != null" >
        lon,
      </if>
      <if test="lat != null" >
        lat,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="introductionPortraitIds != null" >
        introduction_portrait_ids,
      </if>
      <if test="contactPeple != null" >
        contact_peple,
      </if>
      <if test="contactInfo != null" >
        contact_info,
      </if>
      <if test="certificate != null" >
        certificate,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="portrait != null" >
        #{portrait,jdbcType=VARCHAR},
      </if>
      <if test="scale != null" >
        #{scale,jdbcType=VARCHAR},
      </if>
      <if test="establishmentTime != null" >
        #{establishmentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="lon != null" >
        #{lon,jdbcType=DECIMAL},
      </if>
      <if test="lat != null" >
        #{lat,jdbcType=DECIMAL},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="introductionPortraitIds != null" >
        #{introductionPortraitIds,jdbcType=VARCHAR},
      </if>
      <if test="contactPeple != null" >
        #{contactPeple,jdbcType=VARCHAR},
      </if>
      <if test="contactInfo != null" >
        #{contactInfo,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null" >
        #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.train.domain.entity.UserCompanyExample" resultType="java.lang.Integer" >
    select count(*) from user_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_company
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.nickName != null" >
        nick_Name = #{record.nickName,jdbcType=VARCHAR},
      </if>
      <if test="record.portrait != null" >
        portrait = #{record.portrait,jdbcType=VARCHAR},
      </if>
      <if test="record.scale != null" >
        scale = #{record.scale,jdbcType=VARCHAR},
      </if>
      <if test="record.establishmentTime != null" >
        establishment_time = #{record.establishmentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.position != null" >
        position = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.lon != null" >
        lon = #{record.lon,jdbcType=DECIMAL},
      </if>
      <if test="record.lat != null" >
        lat = #{record.lat,jdbcType=DECIMAL},
      </if>
      <if test="record.introduction != null" >
        introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.introductionPortraitIds != null" >
        introduction_portrait_ids = #{record.introductionPortraitIds,jdbcType=VARCHAR},
      </if>
      <if test="record.contactPeple != null" >
        contact_peple = #{record.contactPeple,jdbcType=VARCHAR},
      </if>
      <if test="record.contactInfo != null" >
        contact_info = #{record.contactInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.certificate != null" >
        certificate = #{record.certificate,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=DATE},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_company
    set id = #{record.id,jdbcType=INTEGER},
      nick_Name = #{record.nickName,jdbcType=VARCHAR},
      portrait = #{record.portrait,jdbcType=VARCHAR},
      scale = #{record.scale,jdbcType=VARCHAR},
      establishment_time = #{record.establishmentTime,jdbcType=TIMESTAMP},
      position = #{record.position,jdbcType=VARCHAR},
      lon = #{record.lon,jdbcType=DECIMAL},
      lat = #{record.lat,jdbcType=DECIMAL},
      introduction = #{record.introduction,jdbcType=VARCHAR},
      introduction_portrait_ids = #{record.introductionPortraitIds,jdbcType=VARCHAR},
      contact_peple = #{record.contactPeple,jdbcType=VARCHAR},
      contact_info = #{record.contactInfo,jdbcType=VARCHAR},
      certificate = #{record.certificate,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=DATE},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=DATE},
      update_by = #{record.updateBy,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.train.domain.entity.UserCompany" >
    update user_company
    <set >
      <if test="nickName != null" >
        nick_Name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="portrait != null" >
        portrait = #{portrait,jdbcType=VARCHAR},
      </if>
      <if test="scale != null" >
        scale = #{scale,jdbcType=VARCHAR},
      </if>
      <if test="establishmentTime != null" >
        establishment_time = #{establishmentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="lon != null" >
        lon = #{lon,jdbcType=DECIMAL},
      </if>
      <if test="lat != null" >
        lat = #{lat,jdbcType=DECIMAL},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="introductionPortraitIds != null" >
        introduction_portrait_ids = #{introductionPortraitIds,jdbcType=VARCHAR},
      </if>
      <if test="contactPeple != null" >
        contact_peple = #{contactPeple,jdbcType=VARCHAR},
      </if>
      <if test="contactInfo != null" >
        contact_info = #{contactInfo,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null" >
        certificate = #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.train.domain.entity.UserCompany" >
    update user_company
    set nick_Name = #{nickName,jdbcType=VARCHAR},
      portrait = #{portrait,jdbcType=VARCHAR},
      scale = #{scale,jdbcType=VARCHAR},
      establishment_time = #{establishmentTime,jdbcType=TIMESTAMP},
      position = #{position,jdbcType=VARCHAR},
      lon = #{lon,jdbcType=DECIMAL},
      lat = #{lat,jdbcType=DECIMAL},
      introduction = #{introduction,jdbcType=VARCHAR},
      introduction_portrait_ids = #{introductionPortraitIds,jdbcType=VARCHAR},
      contact_peple = #{contactPeple,jdbcType=VARCHAR},
      contact_info = #{contactInfo,jdbcType=VARCHAR},
      certificate = #{certificate,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=DATE},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>