<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.train.dao.mapper.UserCompanyMapper" >
  <resultMap id="BaseResultMap" type="com.train.domain.entity.UserCompany" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="nickName" property="nickname" jdbcType="VARCHAR" />
    <result column="portrait" property="portrait" jdbcType="VARCHAR" />
    <result column="scale" property="scale" jdbcType="INTEGER" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="introductionPortrait" property="introductionportrait" jdbcType="VARCHAR" />
    <result column="contactPeple" property="contactpeple" jdbcType="VARCHAR" />
    <result column="contactInfon" property="contactinfon" jdbcType="VARCHAR" />
    <result column="certificate" property="certificate" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="DATE" />
    <result column="createBy" property="createby" jdbcType="VARCHAR" />
    <result column="updateTime" property="updatetime" jdbcType="DATE" />
    <result column="updateBy" property="updateby" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, nickName, portrait, scale, position, introduction, introductionPortrait, contactPeple, 
    contactInfon, certificate, createTime, createBy, updateTime, updateBy
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.train.dao.example.UserCompanyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_company
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_company
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.train.dao.example.UserCompanyExample" >
    delete from user_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.train.domain.entity.UserCompany" >
    insert into user_company (id, nickName, portrait, 
      scale, position, introduction, 
      introductionPortrait, contactPeple, contactInfon, 
      certificate, createTime, createBy, 
      updateTime, updateBy)
    values (#{id,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{portrait,jdbcType=VARCHAR}, 
      #{scale,jdbcType=INTEGER}, #{position,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{introductionportrait,jdbcType=VARCHAR}, #{contactpeple,jdbcType=VARCHAR}, #{contactinfon,jdbcType=VARCHAR}, 
      #{certificate,jdbcType=VARCHAR}, #{createtime,jdbcType=DATE}, #{createby,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=DATE}, #{updateby,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.train.domain.entity.UserCompany" >
    insert into user_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nickname != null" >
        nickName,
      </if>
      <if test="portrait != null" >
        portrait,
      </if>
      <if test="scale != null" >
        scale,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="introductionportrait != null" >
        introductionPortrait,
      </if>
      <if test="contactpeple != null" >
        contactPeple,
      </if>
      <if test="contactinfon != null" >
        contactInfon,
      </if>
      <if test="certificate != null" >
        certificate,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="createby != null" >
        createBy,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
      <if test="updateby != null" >
        updateBy,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="portrait != null" >
        #{portrait,jdbcType=VARCHAR},
      </if>
      <if test="scale != null" >
        #{scale,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="introductionportrait != null" >
        #{introductionportrait,jdbcType=VARCHAR},
      </if>
      <if test="contactpeple != null" >
        #{contactpeple,jdbcType=VARCHAR},
      </if>
      <if test="contactinfon != null" >
        #{contactinfon,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null" >
        #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=DATE},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=DATE},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.train.dao.example.UserCompanyExample" resultType="java.lang.Integer" >
    select count(*) from user_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_company
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.nickname != null" >
        nickName = #{record.nickname,jdbcType=VARCHAR},
      </if>
      <if test="record.portrait != null" >
        portrait = #{record.portrait,jdbcType=VARCHAR},
      </if>
      <if test="record.scale != null" >
        scale = #{record.scale,jdbcType=INTEGER},
      </if>
      <if test="record.position != null" >
        position = #{record.position,jdbcType=VARCHAR},
      </if>
      <if test="record.introduction != null" >
        introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.introductionportrait != null" >
        introductionPortrait = #{record.introductionportrait,jdbcType=VARCHAR},
      </if>
      <if test="record.contactpeple != null" >
        contactPeple = #{record.contactpeple,jdbcType=VARCHAR},
      </if>
      <if test="record.contactinfon != null" >
        contactInfon = #{record.contactinfon,jdbcType=VARCHAR},
      </if>
      <if test="record.certificate != null" >
        certificate = #{record.certificate,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=DATE},
      </if>
      <if test="record.createby != null" >
        createBy = #{record.createby,jdbcType=VARCHAR},
      </if>
      <if test="record.updatetime != null" >
        updateTime = #{record.updatetime,jdbcType=DATE},
      </if>
      <if test="record.updateby != null" >
        updateBy = #{record.updateby,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_company
    set id = #{record.id,jdbcType=INTEGER},
      nickName = #{record.nickname,jdbcType=VARCHAR},
      portrait = #{record.portrait,jdbcType=VARCHAR},
      scale = #{record.scale,jdbcType=INTEGER},
      position = #{record.position,jdbcType=VARCHAR},
      introduction = #{record.introduction,jdbcType=VARCHAR},
      introductionPortrait = #{record.introductionportrait,jdbcType=VARCHAR},
      contactPeple = #{record.contactpeple,jdbcType=VARCHAR},
      contactInfon = #{record.contactinfon,jdbcType=VARCHAR},
      certificate = #{record.certificate,jdbcType=VARCHAR},
      createTime = #{record.createtime,jdbcType=DATE},
      createBy = #{record.createby,jdbcType=VARCHAR},
      updateTime = #{record.updatetime,jdbcType=DATE},
      updateBy = #{record.updateby,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.train.domain.entity.UserCompany" >
    update user_company
    <set >
      <if test="nickname != null" >
        nickName = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="portrait != null" >
        portrait = #{portrait,jdbcType=VARCHAR},
      </if>
      <if test="scale != null" >
        scale = #{scale,jdbcType=INTEGER},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="introductionportrait != null" >
        introductionPortrait = #{introductionportrait,jdbcType=VARCHAR},
      </if>
      <if test="contactpeple != null" >
        contactPeple = #{contactpeple,jdbcType=VARCHAR},
      </if>
      <if test="contactinfon != null" >
        contactInfon = #{contactinfon,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null" >
        certificate = #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=DATE},
      </if>
      <if test="createby != null" >
        createBy = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=DATE},
      </if>
      <if test="updateby != null" >
        updateBy = #{updateby,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.train.domain.entity.UserCompany" >
    update user_company
    set nickName = #{nickname,jdbcType=VARCHAR},
      portrait = #{portrait,jdbcType=VARCHAR},
      scale = #{scale,jdbcType=INTEGER},
      position = #{position,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      introductionPortrait = #{introductionportrait,jdbcType=VARCHAR},
      contactPeple = #{contactpeple,jdbcType=VARCHAR},
      contactInfon = #{contactinfon,jdbcType=VARCHAR},
      certificate = #{certificate,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=DATE},
      createBy = #{createby,jdbcType=VARCHAR},
      updateTime = #{updatetime,jdbcType=DATE},
      updateBy = #{updateby,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>